<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <% results.forEach( book => { %>
      <img src=<%= book.image_url %>>
      <h3><%= book.title %></h3>
      <h5><%=book.author %></h5>
      <p><%=book.description %></p>
      <p><%=book.isbn %></p>
      <% }) %>
  </main>
  <footer>

  </footer>
</body>

</html>